<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/admin.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="d-flex">
        <!-- Sidebar -->
        <nav id="sidebar" class="sidebar bg-light">
            <div class="sidebar-header d-flex justify-content-between align-items-center p-3">
                <h4 class="m-0">☕ ADMIN</h4>
                <button id="sidebarToggle" class="btn btn-sm btn-outline-dark">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" asp-controller="DoUong" asp-action="Index"><i
                            class="fas fa-coffee"></i> <span>Quản lí Đồ Uống</span></a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Category" asp-action="Index"><i
                            class="fas fa-store"></i> <span>Quản lí Cơ sở & Kho </span></a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Order" asp-action="Index"><i
                            class="fas fa-receipt"></i> <span>Quản lí hóa đơn</span></a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="QlyKhach" asp-action="Index"><i
                            class="fas fa-user"></i> <span>Quản lí khách hàng</span></a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="NhanVien" asp-action="Index"><i
                            class="fas fa-users"></i> <span>Quản lí Nhân viên</span></a></li>
                <li class="nav-item"><a class="nav-link text-danger" asp-controller="Account" asp-action="Logout"><i
                            class="fas fa-sign-out-alt"></i> <span>Đăng xuất</span></a></li>
            </ul>
        </nav>

        <!-- Nội dung chính -->
        <main class="p-4 flex-grow-1">
            @RenderBody()
        </main>
    </div>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js"></script>

</body>

</html>
